In [11]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

#2 Load the dataSet
Mg = pd.read_csv(r'Churn_Modelling.csv');
Mg.head();

#3a Univariate Analysis - Graph Model
Mg['Tenure'].value_counts().sort_index().plot.line() 

#3b Bi - Variate Analysis - Plot model
Mg[Mg['Age'] < 100].sample(100).plot.scatter(x='Age', y='Tenure') 
Mg.tail();
Mg.info();
  

#3 c. Multi-Varient 
ax = Mg[["CustomerId","Surname","Tenure"]].plot(figsize=(20,15)) 
ax.legend(loc='center left', bbox_to_anchor=(1, 0.5));
print("MukeshG")


#4.descriptive statistics
print(Mg.mean()) 
print(Mg.std()) 
print(Mg.describe())


#5.Handling with Missing Values

print(Mg.notnull()) 
bool_series = pd.isnull(Mg["CustomerId"])
Mg[bool_series]


#6.outliers and Replacing it

fare_mean = Mg['CreditScore'].mean()
fare_std = Mg['CreditScore'].std()
low= fare_mean -(3 * fare_std)
high= fare_mean + (3 * fare_std)
fare_outliers = Mg[(Mg['CreditScore'] < low) | (Mg['CreditScore'] > high)]
fare_outliers.head()

Q1 = Mg['CreditScore'].quantile(0.10)
Q3 = Mg['CreditScore'].quantile(0.90)
IQR = Q3 - Q1
credyy = 1.5
lower_credyy = Q1 - (credyy*IQR)
upper_credyy = Q3 + (credyy*IQR)
index=Mg['CreditScore'][(Mg['CreditScore']>upper_credyy)|(Mg['CreditScore']<lower_credyy)].index
df.drop(index,inplace=True)

#8.a dependent
X = Mg.iloc[:, :-1].values 
print(X)
#8. b Independent
y = Mg.iloc[:, -1].values 
print(y)

#9.Scale independent CreditScore
scaler = MinMaxScaler(feature_range=(400, 800))
Mg[["CreditScore"]] = scaler.fit_transform(Mg[["CreditScore"]]) 
print(Mg)

#10.Splited into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=0) 
print(X_train)
print(X_test)
print(y_train)
print(y_test)
print("Demon")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 976.6+ KB

/lib/python3.10/site-packages/pandas/plotting/_matplotlib/core.py:386: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = self.plt.figure(figsize=self.figsize)

MukeshG

<ipython-input-11-aa164fcf1199>:28: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(Mg.mean())

RowNumber          5.000500e+03
CustomerId         1.569094e+07
CreditScore        6.505288e+02
Age                3.892180e+01
Tenure             5.012800e+00
Balance            7.648589e+04
NumOfProducts      1.530200e+00
HasCrCard          7.055000e-01
IsActiveMember     5.151000e-01
EstimatedSalary    1.000902e+05
Exited             2.037000e-01
dtype: float64

<ipython-input-11-aa164fcf1199>:29: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(Mg.std())

RowNumber           2886.895680
CustomerId         71936.186123
CreditScore           96.653299
Age                   10.487806
Tenure                 2.892174
Balance            62397.405202
NumOfProducts          0.581654
HasCrCard              0.455840
IsActiveMember         0.499797
EstimatedSalary    57510.492818
Exited                 0.402769
dtype: float64
         RowNumber    CustomerId   CreditScore           Age        Tenure  \
count  10000.00000  1.000000e+04  10000.000000  10000.000000  10000.000000
mean    5000.50000  1.569094e+07    650.528800     38.921800      5.012800
std     2886.89568  7.193619e+04     96.653299     10.487806      2.892174
min        1.00000  1.556570e+07    350.000000     18.000000      0.000000
25%     2500.75000  1.562853e+07    584.000000     32.000000      3.000000
50%     5000.50000  1.569074e+07    652.000000     37.000000      5.000000
75%     7500.25000  1.575323e+07    718.000000     44.000000      7.000000
max    10000.00000  1.581569e+07    850.000000     92.000000     10.000000

             Balance  NumOfProducts    HasCrCard  IsActiveMember  \
count   10000.000000   10000.000000  10000.00000    10000.000000
mean    76485.889288       1.530200      0.70550        0.515100
std     62397.405202       0.581654      0.45584        0.499797
min         0.000000       1.000000      0.00000        0.000000
25%         0.000000       1.000000      0.00000        0.000000
50%     97198.540000       1.000000      1.00000        1.000000
75%    127644.240000       2.000000      1.00000        1.000000
max    250898.090000       4.000000      1.00000        1.000000

       EstimatedSalary        Exited
count     10000.000000  10000.000000
mean     100090.239881      0.203700
std       57510.492818      0.402769
min          11.580000      0.000000
25%       51002.110000      0.000000
50%      100193.915000      0.000000
75%      149388.247500      0.000000
max      199992.480000      1.000000
      RowNumber  CustomerId  Surname  CreditScore  Geography  Gender   Age  \
0          True        True     True         True       True    True  True
1          True        True     True         True       True    True  True
2          True        True     True         True       True    True  True
3          True        True     True         True       True    True  True
4          True        True     True         True       True    True  True
...         ...         ...      ...          ...        ...     ...   ...
9995       True        True     True         True       True    True  True
9996       True        True     True         True       True    True  True
9997       True        True     True         True       True    True  True
9998       True        True     True         True       True    True  True
9999       True        True     True         True       True    True  True

      Tenure  Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       True     True           True       True            True
1       True     True           True       True            True
2       True     True           True       True            True
3       True     True           True       True            True
4       True     True           True       True            True
...      ...      ...            ...        ...             ...
9995    True     True           True       True            True
9996    True     True           True       True            True
9997    True     True           True       True            True
9998    True     True           True       True            True
9999    True     True           True       True            True

      EstimatedSalary  Exited
0                True    True
1                True    True
2                True    True
3                True    True
4                True    True
...               ...     ...
9995             True    True
9996             True    True
9997             True    True
9998             True    True
9999             True    True

[10000 rows x 14 columns]

<class 'NameError'>: name 'df' is not defined